body {
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
}

.section {
    margin-top: 35px;
    background-color: red;
    min-height: 100vh;
}

#navbar {
    position: fixed;
    top: 0;
    height: 20px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    margin: 0;
}

#navbar a {
    color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
}
