body {
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
}

.section {
    margin-top: 35px;
    min-height: 100vh;
    padding: 0 15px;
    text-align: center;
}

#navbar {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    margin: 0;
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#navbar a {
    color: rgb(255, 255, 255);
    margin-right: 15px;
}

a {
    text-decoration: none;
}

.project-item{
    border: rgb(163, 163, 163) solid 2px;
    margin-bottom: 5px;
    border-radius: 15px;
}
